.color{
    background: linear-gradient(to right, #a9afd1, #a1cdf4) ;
}

.titleheader {
    font-family: 'Slabo 27px', serif;
    text-align: center;
    margin-top: 40wv;
    margin-left: 15vw;
    font-size: 10vw;
    color: #494D81;
}

.returnHome a{
    font-family: 'Slabo 27px', serif;
    color: #494D81;
    text-decoration: none;
    text-align: center;
    font-size: 1.5vw;
    margin-left: 7vw;
}

.ampic{
    display: flex;
    align-items: center;
}

.ampic img{
    margin-left: 5vw;
    margin-top: 3vh;
    width: 20vw;
    height: auto;
}

.amtext{
    margin-left: 5vw;
    margin-top: 0%;
    padding-right: 10vw;
    font-family: 'Slabo 27px', serif;
    font-size: 2.5vw;
    color: #494D81;
}

.logo1 img {
    width: 20vw;
    height: auto;
    margin-left: 35vw;
}

.logo2 img{
    width: 22vw;
    height: auto;
    margin-left: 60vw;
    margin-top: -17vh;
}

