.color{
    background: linear-gradient(to right, #a9afd1, #a1cdf4) ;
}

.titleheader {
    font-family: 'Slabo 27px', serif;
    text-align: center;
    padding-top: 30vh;
    color: #494D81;
}

.returnHome a{
    font-family: 'Slabo 27px', serif;
    color: #494D81;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 1.5vw;
    margin-left: 43vw;
}