.color{
    background: linear-gradient(to right, #a9afd1, #a1cdf4) ;
}

.titleheader{
    font-family: 'Slabo 27px', serif;
    text-align: center;
    margin-top: 5vh;
    font-size: 5.0vh;
    color: #494D81;
}

.returnHome a{
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    color: #494D81;
    text-decoration: none;
    text-align: center;
    font-size: 3.5vh;
    margin-left: 2vw;
    padding-top: 5vh;
}
 
.video-container{
    display: flex;
    flex-direction: column;
}

.video-wrapper{
    flex: 1;
}

.page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.video-container video{
    width: 45vw;
    height: 40vh;
    padding-left: 2vw;
    padding-top: 8vh;
    padding-bottom: 3vh;
}

.caption{
    padding-left: 3vw;
    max-width: 44vw;
    font-family: 'Slabo 27px', serif;
    font-size: 2.7vh;
    color: #494D81;
    padding-bottom: 2vh;
}

.bold{
    font-weight: bold;
}

.text-column{
    flex: 1;
    padding-top: 6.5vh;
    padding-right: 4vw;
}

.text-column .ov{
    font-family: 'Slabo 27px', serif;
    color: #494D81;
    font-size: 3.5vh;

}

.text-column .cont{
    font-family: 'Slabo 27px', serif;
    color: #494D81;
    font-size: 2.7vh;
    margin-bottom: 0.5em
}
.top-links {
    display: flex;
    justify-content: space-between;
    padding: 2vh 4vw; 
}

.returnHome a, .ghlink a {
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    color: #494D81;
    text-decoration: none;
    font-size: 3.5vh; 
}
